<html>
<head>
<style>
body {
    font-family:Matura MT Script Capitals;
        
         }
		 
		p.main{
          text-align:justify;
           }
 #bg {
    height: 100%;
	width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
         }
	.title {
             position:absolute; 
             width:33%; 
             height:80%; 
             top:10%; 
			 background-color: #e6e6e6;
			 opacity: .8;
             left:35%;
             border:10px black;
             text-align:center;
         }
		  .home {
    position:absolute;
	left:18%;
    width:15%;
	height: 5%;
	letter-spacing:2px;
	background-color:#e6e6e6;
	opacity: .8;
	font-weight:bold;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	top: 10%;
    text-align:center;
             
         }


</style>
</head>
</html>