<html>
<head>
<style>
body {
    font-family:Matura MT Script Capitals;
        
         }
		 
		p.main{
          text-align:justify;
           }
		h1	{
			color: #3CB371;
			font-style: normal;
			font-family: Bodoni MT Black;
			margin-top : -20px;
			font-size: 500%;
			margin-bottom: -10px;
			}
		h2	{
			text-align:center;
			color: #00000;
			font-family: Baskerville Old Face;
			margin-bottom: 15px;
			font-size: 300%;
			margin-top : -10px;
			padding-right: 10px;
			padding-left: 10px;
			}
		h4	{
			color: #00000;
			text-align: center;
			font-size: 130%;
			margin-bottom: -30px;
			padding-right: 10px;
			padding-left: 10px;
			}
		h5	{
			color: #000000;
			text-align: center;
			padding-right: 30px;
			padding-left: 20px;
			}
		   
		#bg {
			height: 100%;
			width: 100%;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			}
			
		 .img-circle {
			border-radius: 50%;
			}
		.title {
             position:absolute; 
             width:33%; 
             height:80%; 
             top:10%; 
			 background-color: #e6e6e6;
			 opacity: .8;
             left:35%;
             border:10px black;
             text-align:center;
			}
		 
		  .home {
			position:absolute;
			left:18%;
			width:15%;
			height: 5%;
			letter-spacing:2px;
			background-color:#e6e6e6;
			opacity: .8;
			font-weight:bold;
			font-size: 14px;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			top: 10%;
			text-align:center;
             }
			 
			.about {
			position:absolute;
			left:18%;
			width:15%;
			height: 5%;
			letter-spacing:2px;
			background-color:#e6e6e6;
			opacity: .8;
			font-weight:bold;
			font-size: 14px;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			top: 16%;
			text-align:center;
             }
			


</style>
</head>
</html>